.add-annotation-window {
  margin-right: 10px;
}

.to_right {
  float: right;
}

canvas#lines_overlay {
  position: absolute;
  z-index: 100;
  pointer-events: none;
}

.annowin {
  background-color: #efefef;
  display: flex;
  flex-direction: column;
}

.annowin_header {
  margin: 0;
  padding: 5px;
  height: 4%;
}

.annowin_header::after {
  content: '';
  display: block;
  clear: both;
}

.mirador-viewer .mirador-icon-window-menu.annowin_window_menu {
  margin: 0 10px 0 0;
  font-size: 0.8rem;
}

.annowin_window_menu .dropdown li {
  font-size: 0.8rem;
}

.annowin_remove_slot {
  float: right !important;
}

.annowin_remove_slot:hover {
  color: red;
}

.annowin_layer_row {
  margin: 5px;
  padding: 5px;
  height: 4%;
}

.annowin_create_anno {
  float: right;
}

.annowin_list {
  overflow-y: scroll;
  border: solid 2px #71bcd1;
  /*height: 80%;*/
}

.annowin_anno {
  border: solid 1px #808080;
  padding: 5px;
  margin: 5px;
  background-color: #fafafa;
}

.annowin_anno:hover {
  border-color: orange;
}

.annotation_editor {
  background-color: white;
  border: solid 3px #0072c4;
  padding: 5px;
}

.annotation_editor .bottom_row {
  min-height: 25px;
}
