.annowin {
  background-color: #efefef;
}

.annowin_header::after {
  content: '';
  display: block;
  clear: both;
}

.annowin_remove_slot {
  float: right !important;
}

.annowin_remove_slot:hover {
  color: red;
}

.annowin_anno {
  border: solid 1px #808080;
  padding: 5px;
  margin: 5px;
}

.annowin_anno:hover {
  border-color: orange;
}
